.table-container {
    width: 100%;

    .input {
        min-width: 200px;
        width: max-content;
    }

    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);

    .filters {
        display: flex;
        gap: var(--gap-sm);
    }

    table {
        width: 100%;
        border-collapse: collapse;

        thead {
            tr {
                th {
                    border: var(--border);
                    padding: var(--padding-md-comp);
                    text-align: left;
                }
            }
        }

        tbody {
            tr {
                td {
                    border: var(--border);
                    padding: var(--padding-md-comp);
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        gap: var(--gap-sm);

        .button {
            &.active {
                font-weight: bold;
                background-color: var(--color-primary);
                color: var(--white);
            }
        }
    }
}