.table-container {
    width: 100%;

    .input {
        min-width: 200px;
        width: max-content;
    }

    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);

    .filters {
        display: flex;
        gap: var(--gap-sm);
    }

    .pagination {
        display: flex;
        justify-content: center;
        gap: var(--gap-sm);

        .button {
            &.active {
                border-color: var(--color-primary);
                font-weight: bold;
                background-color: var(--color-primary);
                color: var(--white);
            }
        }
    }
}