.page {
    width: 100%;
    height: calc(100dvh - 50px);

    display: flex;
    align-items: center;
    justify-content: center;

    form {
        user-select: none;
        width: 50%;
        max-width: 600px;

        padding: var(--padding-md-comp);
        gap: var(--gap-md);

        display: flex;
        flex-direction: column;

        h1 {
            font-weight: 100;
            animation: h1-animation infinite 20s;
        }

        .input-container {
            width: 100%;
            display: flex;
            gap: var(--gap-sm);

            .button {
                width: max-content;
            }
        }
    }
}

@media (max-width: 800px) {
    .page {
        form {
            width: 100%;
        }
    }
}

@keyframes h1-animation {
    50% {
        letter-spacing: 10px;
        font-weight: bold;
    }
}