.button {
    background: var(--black);

    padding: var(--padding-md-comp);

    font-size: var(--font-size-md);
    color: var(--white);

    border: 2px solid var(--black);
    border-radius: var(--border-md);

    transition: var(--tr-duration);
    cursor: pointer;
    user-select: none;

    &:not(:disabled):hover {
        background: var(--color-primary);
        color: var(--black);
    }

    &:disabled {
        opacity: .7;
        cursor: not-allowed;
    }
}