.input {
    width: 100%;
    padding: var(--padding-md-comp);

    font-size: var(--font-size-md);

    border: var(--border);
    border-radius: var(--border-md);
    outline: none;

    transition: var(--tr-duration);

    &:focus {
        border-color: var(--color-primary);
    }

    &:disabled {
        background: var(--border-color);
        cursor: not-allowed;
    }
}