footer {
    width: 100%;
    height: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    gap: var(--gap-md);

    background: var(--black);

    &:has(a:hover) a:not(:hover) {
        opacity: .5;
    }

    a {
        width: max-content;

        display: flex;
        align-items: center;
        gap: var(--gap-sm);

        color: var(--white);

        transition: var(--tr-duration);

        &:hover {
            color: var(--color-primary);
        }
    }
}