.contract {
    border: var(--border);
    border-radius: var(--border-md);

    padding: var(--padding-md);
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);

    user-select: none;
    cursor: pointer;

    transition: opacity var(--tr-duration);

    &__container {
        display: flex;
        flex-direction: column;
        gap: var(--gap-sm);

        margin-top: var(--gap-sm);

        &:has(:hover) .contract:not(:hover) {
            opacity: .4;
        }
    }
}