:root {
    --white: #fff;
    --black: #000;
    --border-color: #ccc;

    --color-primary: #46e590;
    --color-primary-hover: #40dc89;

    --tr-duration: .3s;

    --padding-md: 8px;
    --padding-md-comp: 6px 10px;

    --border-sm: 2px;
    --border-md: calc(var(--border-sm) * 2);

    --font-size-md: 16px;
    --font-size-lg: 48px;

    --gap-sm: 8px;
    --gap-md: 32px;

    --border: 1px solid var(--border-color);
}

* {
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;

    &::selection {
        background: var(--color-primary);
        color: var(--white);
    }
}

html, body {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 0;
    font-size: var(--font-size-lg);
}

a {
    text-decoration: none;
    color: var(--black);
    width: max-content;
}

header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.primary {
    color: var(--color-primary);
}

.page {
    width: 100%;
    min-height: 100dvh;
    height: max-content;

    display: flex;
    flex-direction: column;

    padding: var(--padding-md);
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: flex-start;

        gap: var(--gap-md);

        h1 {
            order: 2;
        }

        a {
            order: 1;
        }
    }
}