:root {
    --black-n: 0, 0, 0;

    --white: #fff;
    --black: rgb(var(--black-n));
    --border-color: #ccc;
    --red: #cb2a2a;

    --color-primary: #46e590;
    --color-primary-hover: #40dc89;

    --tr-duration: .3s;

    --padding-md: 8px;
    --padding-lg: 16px;
    --padding-md-comp: 6px 10px;

    --border-sm: 2px;
    --border-md: calc(var(--border-sm) * 2);
    --border-lg: calc(var(--border-sm) * 3);

    --font-size-sm: .7rem;
    --font-size-md: .9rem;
    --font-size-lg: 3rem;

    --gap-sm: 8px;
    --gap-md: 32px;

    --border: 1px solid var(--border-color);
}

* {
    box-sizing: border-box;
    font-family: "Zalando Sans Expanded", sans-serif;

    &::selection {
        background: var(--color-primary);
        color: var(--white);
    }
}

html, body {
    margin: 0;
    padding: 0;

    &::-webkit-scrollbar {
        display: none;
    }
}

h1 {
    margin: 0;
    font-size: var(--font-size-lg);
}

a {
    text-decoration: none;
    color: var(--black);
    width: max-content;
}

header {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

svg {
    width: 20px;
    height: 20px;

    display: flex;
    align-items: center;
}

.primary, .red {
    font-weight: bold;
}

.primary {
    color: var(--color-primary);
}

.red {
    color: var(--red);
}

.page {
    width: 100%;
    min-height: 100dvh;
    height: max-content;

    display: flex;
    flex-direction: column;

    padding: var(--padding-md);
}

table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;

    thead {
        tr {
            th {
                border: var(--border);
                padding: var(--padding-md-comp);
                text-align: left;
            }
        }
    }

    tbody {
        tr {
            td {
                font-size: var(--font-size-md);

                border: var(--border);
                padding: var(--padding-md-comp);

                span {
                    display: inline-block;
                    max-width: 100%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .actions {
                    display: flex;
                    gap: var(--gap-sm);

                    .button {
                        width: max-content;
                    }
                }
            }
        }
    }
}

select {
    padding: var(--padding-md-comp);

    border: var(--border);
    border-radius: var(--border-md);
}

@media (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: flex-start;

        gap: var(--gap-md);

        h1 {
            order: 2;
        }

        a {
            order: 1;
        }
    }
}