.popup {
    &__wrapper {
        width: 100%;
        height: 100%;

        position: fixed;
        inset: 0;
        background: rgba(var(--black-n), .7);
        backdrop-filter: blur(8px);

        z-index: 1000;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    width: 700px;
    height: 90%;

    display: flex;
    flex-direction: column;
    gap: var(--gap-sm);
    padding: var(--padding-lg);

    border-radius: var(--border-lg);
    background: var(--white);

    overflow: auto;

    span {
        width: 100%;
        word-wrap: break-word;
        word-break: break-word;
        white-space: normal;
    }

    .person {
        width: 100%;

        margin-top: var(--gap-sm);

        display: flex;
        flex-direction: column;
    }

    .button {
        width: max-content;

        align-self: flex-end;
    }
}